* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
}

.side-by-side {
    display: flex;
    height: 100%;
}

.spacer {
    height: 100%;
}

.img-spacer {
    height: 50%;
}

h1 {
    text-decoration: underline;
    margin-bottom: 3em;
    font-size: 1em;
}

footer {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Xanh Mono', monospace;
    font-weight: 200;
    font-size: 6em;
    position: fixed;
    bottom: 0;
    padding: 30px;
    color: yellow;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#clock {
    display: inline-block;
}

button {
    display: inline-block;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#statement {
    width: 30%;
    padding: 30px;
    padding-left: 90px;
    font-family: 'Old Standard TT', serif;
    line-height: 1.1em;
    font-size: 2.5em;
    background-color: lightgrey;
    color: blue;
    overflow: scroll;
}

.thesis {
    font-size: 6em;
    line-height: 1.1em;
    font-family: 'Old Standard TT', serif;
    color: blue;
}

.one-image, .two-images, .three-images, .four-images {
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    padding-bottom: 4em;
}

.one-image img {
    max-width: 100%;
}

.two-images img {
    max-width: 48%;
}

.three-images img {
    max-width: 30%;
}

.four-images img {
    max-width: 20%;
}

.centered {
    justify-content: space-around;
}

.mazda {
    max-width: 25%;
}

.small-book {
    max-width: 80%;
}

#works {
    width: 70%;
    height: 100%;
    background-color: lightgray;
    overflow: scroll;
    padding-left: 4em;
    padding-right: 4em;
}